@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

@layer components {

  /*   CONTENTS

  -STYLES-
  Navigation
  Home Screen
  Planets

  -ANIMATIONS-
  Nav
  Home
  Planets
  POTD (perspective)
  Search

  STARRY BACKGROUND :)

  */


  // Navigation
  .navBg {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    &::after {
      content: "";
      position: absolute;
      background: inherit;
      filter: blur(10px);
      inset: 0px;
      z-index: -1;
    }
  }
  .nav-li {
    &::after {
      content: "";
      background-color: white;
      position: absolute;
      top: 1.825rem;
      left: calc(50% - 5px);
      height: 2px;
      width: 10px;
      border-radius: 10px;
    }
  }
  .selected {
    &::after {
      content: "";
      background-color: white;
      position: absolute;
      top: 1.825rem;
      left: 24%;
      height: 2px;
      width: 50%;
      border-radius: 10px;
      animation: elongate 0.5s;
    }
  }
  .navHover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5) inset;
    transition: 0.3s;
  }


  // Home Screen
  .heroBg {
    background: radial-gradient(ellipse at top, #26262d, #181318);
  }
  .heading {
    font-size: calc(20px + 5vw);
    &.animation1 {
      animation: headerShift 1.5s ease;
    }
    &.animation2 {
      transform: translateY(calc(5vw + 3rem));
      animation: headerShow 2s ease-in;
    }
  }
  .comment {
    transform: translateY(calc(12vw + 6rem));
    animation: textReveal 4s;
  }


  // Planets

  .planetShadow {
    outline: black solid 1px;
    box-shadow:
    inset -1vh 1vh 1vh 1vh rgba(0, 0, 0, 0.7), inset -2vh 2vh 2vh 2vh rgba(0, 0, 0, 0.65),
    inset -3vh 3vh 3vh 3vh rgba(0, 0, 0, 0.6), inset -4vh 4vh 2vh 2vh rgba(0, 0, 0, 0.55),
    inset -5vh 5vh 3vh 3vh rgba(0, 0, 0, 0.5), inset -7vh 7vh 4vh 4vh rgba(0, 0, 0, 0.45),
    inset -9vh 9vh 5vh 5vh rgba(0, 0, 0, 0.3), inset -11vh 11vh 6vh 6vh rgba(0, 0, 0, 0.2),
    inset -13vh 13vh 7vh 7vh rgba(0, 0, 0, 0.1),
    inset 0.05vh -0.05vh 1vh 0.5vh rgba(255, 255, 255, 0.4),
    inset 0.05vh -0.05vh 0.5vh 0.025vh rgba(255, 255, 255, 0.6),
  }

  .planet {
    animation: planetSpin 600s linear infinite;
  }


  // Animations

  // Animations - Navigation

  @keyframes elongate {
    0% {
      transform: translateX(-100px);
      transform: scaleX(0.2);
    }
    100% {
      transform: translateX(0px);
      transform: scaleX(1);
    }
  }

  // Animations - Home screen

  @keyframes headerShift {
    0% {
      transform: translateY(calc(5vw + 3rem));
    }
    40% {
      transform: translateY(calc(5vw + 3rem));
    }
    100% {
      transform: translate(0);
    }
  }
  @keyframes headerShow {
    0% {
      opacity: 0;
    }
    35% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes textReveal {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
      transform: translateY(calc(12vw));
    }
    100% {
      opacity: 1;
      transform: translateY(calc(12vw + 6rem));
    }
  }

  // Animations - Planets

  @keyframes planetSpin {
    0% {
      background-position: 0%;
    }
    100%{
      background-position: 2000%;
    }
  }


  // POTD perspective animations

  .animations {
    .imgPtive {
      transform: perspective(100rem) rotateY(0deg)  scale(1);
      animation: imgPtiveBack 0.6s;
    }
    .imgPtive:hover {
      transform: perspective(100rem) rotateY(20deg) scale(1.1);
      animation: imgPtiveForw 0.6s;
    }
    .textPtive {
      transform: perspective(100rem) rotateY(0deg) scale(1);
      animation: textPtiveBack 0.6s;
    }
    .textPtive:hover {
      transform: perspective(100rem) rotateY(-20deg) scale(1.2);
      animation: textPtiveForw 0.6s;
    }
  }

  @keyframes imgPtiveForw {
    from {transform: perspective(100rem) rotateY(0deg) scale(1);}
    to {transform: perspective(100rem) rotateY(20deg) scale(1.1);}
  }
  @keyframes imgPtiveBack {
    from {transform: perspective(100rem) rotateY(20deg) scale(1.1);}
    to {transform: perspective(100rem) rotateY(0deg) scale(1);}
  }
  @keyframes textPtiveForw {
    from {transform: perspective(100rem) rotateY(0deg) scale(1);}
    to {transform: perspective(100rem) rotateY(-20deg) scale(1.2);}
  }
  @keyframes textPtiveBack {
    from {transform: perspective(100rem) rotateY(-20deg) scale(1.2);}
    to {transform: perspective(100rem) rotateY(0deg) scale(1);}
  }


  // Search
  .searchSlideIn {
    animation: slideIn 1.2s;
  }
  .searchReveal {
    animation: revealSearch 1.7s;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(20rem);
    }
    40% {
      transform: translateX(20rem);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes revealSearch {
    0% {
      opacity: 0;
      width: 0%;
    }
    60% {
      opacity: 0;
      width: 0%;
    }
    100% {
      opacity: 1;
      width: 100%;
    }
  }

  .activeCard {
    background-color: black;
    position: relative;
    height: 100% !important;
  }

  // Starry Background
  @function createStars($n) {
    $starPos: '#{random(100)}vw #{random(7000)}px #FFF'; //creates a random box shadow (white)
      @for $i from 1 through $n {
        $starPos: '#{$starPos} , #{random(100)}vw #{random(7000)}px #FFF';
      } // loop repeatedly adds a box shadow to the previous shadow
      @return unquote($starPos);
  }

  $shadows-small:  createStars(1500);
  $shadows-medium: createStars(500);
  $shadows-large:  createStars(100);


  #smallStars{
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: white;
    box-shadow: $shadows-small;
    animation: starMovement 240s linear infinite, pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    overflow: hidden;
    &:after {
      content: " ";
      position: absolute;
      top: 4000px;
      left: -500px;
    }
  }

  #mediumStars{
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    box-shadow: $shadows-medium;
    animation: starMovement 360s linear infinite, pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    overflow: hidden;
    &:after {
      content: " ";
      position: absolute;
      top: 4000px;
      left: -500px;
    }
  }

  #largeStars{
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: white;
    box-shadow: $shadows-large;
    animation: starMovement 480s linear infinite, pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    overflow: hidden;
    &:after {
      content: " ";
      position: absolute;
      top: 4000px;
      left: -2000px;
    }
  }

  @keyframes starMovement {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-3000px)
    }
  }

  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }



  // GLASS ANIMATIONS HERO

  .heroGradient {
    background: radial-gradient(ellipse at top, #38383f, black);
  }

  .glass {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5),
    inset 0px -25px 25px rgba(0, 0, 0, 0.2), inset 0px -35px 30px rgba(0, 0, 0, 0.15),
    inset 0px -80px 40px rgba(0, 0, 0, 0.1), inset 0px -30px 30px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.05), 0px 4px 2px rgba(0, 0, 0, 0.1), 0px 8px 4px rgba(0, 0, 0, 0.1);
    :hover {
      cursor: default;
    }
  }

  //hero stars

  @function createHeroStars($n) {
    $starPos: '#{random(100)}vw #{random(300)}vh #FFF'; //creates a random box shadow (white)
      @for $i from 1 through $n {
        $starPos: '#{$starPos} , #{random(100)}vw #{random(300)}vh #FFF';
      } // loop repeatedly adds a box shadow to the previous shadow
      @return unquote($starPos);
  }

  $heroStars: createHeroStars(750);
  $heroStars2: createHeroStars(500);
  $heroStars3: createHeroStars(250);

  #heroStars{
    position: fixed;
    z-index: 1;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: white;
    box-shadow: $heroStars;
    animation: heroStarMovement 150s linear infinite;
    overflow: hidden;
    &:after {
      content: " ";
      position: absolute;
      top: 4000px;
    }
  }
  #heroStars2{
    position: fixed;
    z-index: 1;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    box-shadow: $heroStars2;
    animation: heroStarMovement 300s linear infinite;
    overflow: hidden;
    &:after {
      content: " ";
      position: absolute;
      top: 4000px;
    }
  }
  #heroStars3{
    position: fixed;
    z-index: 1;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: white;
    box-shadow: $heroStars3;
    animation: heroStarMovement 400s linear infinite;
    overflow: hidden;
    &:after {
      content: " ";
      position: absolute;
      top: 4000px;
    }
  }

  @keyframes heroStarMovement {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-1500px)
    }
  }
}