@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .navBg {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .navBg::after {
    content: "";
    position: absolute;
    background: inherit;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    inset: 0px;
    z-index: -1;
  }
  .nav-li::after {
    content: "";
    background-color: white;
    position: absolute;
    top: 1.825rem;
    left: calc(50% - 5px);
    height: 2px;
    width: 10px;
    border-radius: 10px;
  }
  .selected::after {
    content: "";
    background-color: white;
    position: absolute;
    top: 1.825rem;
    left: 24%;
    height: 2px;
    width: 50%;
    border-radius: 10px;
    -webkit-animation: elongate 0.5s;
            animation: elongate 0.5s;
  }
  .navHover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5) inset;
            box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5) inset;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .heroBg {
    background: radial-gradient(ellipse at top, #26262d, #181318);
  }
  .heading {
    font-size: calc(25px + 5vw);
  }
  .heading.animation1 {
    -webkit-animation: headerShift 1.5s ease;
            animation: headerShift 1.5s ease;
  }
  .heading.animation2 {
    -webkit-transform: translateY(calc(5vw + 3rem));
            transform: translateY(calc(5vw + 3rem));
    -webkit-animation: headerShow 2s ease-in;
            animation: headerShow 2s ease-in;
  }
  .comment {
    -webkit-transform: translateY(calc(12vw + 6rem));
            transform: translateY(calc(12vw + 6rem));
    -webkit-animation: textReveal 4s;
            animation: textReveal 4s;
  }
  .planetShadow {
    outline: black solid 1px;
    -webkit-box-shadow: inset -1vh 1vh 1vh 1vh rgba(0, 0, 0, 0.7), inset -2vh 2vh 2vh 2vh rgba(0, 0, 0, 0.65), inset -3vh 3vh 3vh 3vh rgba(0, 0, 0, 0.6), inset -4vh 4vh 2vh 2vh rgba(0, 0, 0, 0.55), inset -5vh 5vh 3vh 3vh rgba(0, 0, 0, 0.5), inset -7vh 7vh 4vh 4vh rgba(0, 0, 0, 0.45), inset -9vh 9vh 5vh 5vh rgba(0, 0, 0, 0.3), inset -11vh 11vh 6vh 6vh rgba(0, 0, 0, 0.2), inset -13vh 13vh 7vh 7vh rgba(0, 0, 0, 0.1), inset 0.05vh -0.05vh 1vh 0.5vh rgba(255, 255, 255, 0.4), inset 0.05vh -0.05vh 0.5vh 0.025vh rgba(255, 255, 255, 0.6);
            box-shadow: inset -1vh 1vh 1vh 1vh rgba(0, 0, 0, 0.7), inset -2vh 2vh 2vh 2vh rgba(0, 0, 0, 0.65), inset -3vh 3vh 3vh 3vh rgba(0, 0, 0, 0.6), inset -4vh 4vh 2vh 2vh rgba(0, 0, 0, 0.55), inset -5vh 5vh 3vh 3vh rgba(0, 0, 0, 0.5), inset -7vh 7vh 4vh 4vh rgba(0, 0, 0, 0.45), inset -9vh 9vh 5vh 5vh rgba(0, 0, 0, 0.3), inset -11vh 11vh 6vh 6vh rgba(0, 0, 0, 0.2), inset -13vh 13vh 7vh 7vh rgba(0, 0, 0, 0.1), inset 0.05vh -0.05vh 1vh 0.5vh rgba(255, 255, 255, 0.4), inset 0.05vh -0.05vh 0.5vh 0.025vh rgba(255, 255, 255, 0.6);
  }
  .planet {
    -webkit-animation: planetSpin 600s linear infinite;
            animation: planetSpin 600s linear infinite;
  }
  @-webkit-keyframes elongate {
    0% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
      -webkit-transform: scaleX(0.2);
              transform: scaleX(0.2);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }
  @keyframes elongate {
    0% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
      -webkit-transform: scaleX(0.2);
              transform: scaleX(0.2);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }
  @-webkit-keyframes headerShift {
    0% {
      -webkit-transform: translateY(calc(5vw + 3rem));
              transform: translateY(calc(5vw + 3rem));
    }
    40% {
      -webkit-transform: translateY(calc(5vw + 3rem));
              transform: translateY(calc(5vw + 3rem));
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes headerShift {
    0% {
      -webkit-transform: translateY(calc(5vw + 3rem));
              transform: translateY(calc(5vw + 3rem));
    }
    40% {
      -webkit-transform: translateY(calc(5vw + 3rem));
              transform: translateY(calc(5vw + 3rem));
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @-webkit-keyframes headerShow {
    0% {
      opacity: 0;
    }
    35% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes headerShow {
    0% {
      opacity: 0;
    }
    35% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes textReveal {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
      -webkit-transform: translateY(calc(12vw));
              transform: translateY(calc(12vw));
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(calc(12vw + 6rem));
              transform: translateY(calc(12vw + 6rem));
    }
  }
  @keyframes textReveal {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
      -webkit-transform: translateY(calc(12vw));
              transform: translateY(calc(12vw));
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(calc(12vw + 6rem));
              transform: translateY(calc(12vw + 6rem));
    }
  }
  @-webkit-keyframes planetSpin {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 2000%;
    }
  }
  @keyframes planetSpin {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 2000%;
    }
  }
  #smallStars {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: white;
    -webkit-box-shadow: 1854px 7637px #FFF , 1646px 6161px #FFF , 1711px 3242px #FFF , 472px 1625px #FFF , 658px 8047px #FFF , 2109px 4284px #FFF , 1792px 6074px #FFF , 440px 284px #FFF , 1425px 3759px #FFF , 1594px 2187px #FFF , 2419px 3700px #FFF , 1862px 5618px #FFF , 758px 2249px #FFF , 851px 1682px #FFF , 2482px 656px #FFF , 1877px 899px #FFF , 10px 8665px #FFF , 942px 2987px #FFF , 915px 7580px #FFF , 1649px 5236px #FFF , 2058px 5186px #FFF , 1364px 2651px #FFF , 1260px 8446px #FFF , 1101px 6914px #FFF , 1723px 4234px #FFF , 242px 7462px #FFF , 2433px 167px #FFF , 2384px 4526px #FFF , 1831px 1873px #FFF , 2708px 4458px #FFF , 611px 2909px #FFF , 2402px 2915px #FFF , 762px 7840px #FFF , 2621px 3333px #FFF , 2186px 5884px #FFF , 976px 848px #FFF , 1831px 4006px #FFF , 722px 5470px #FFF , 1764px 941px #FFF , 2997px 4220px #FFF , 1540px 2403px #FFF , 2692px 8092px #FFF , 2324px 3970px #FFF , 1104px 1691px #FFF , 2136px 1830px #FFF , 2621px 8376px #FFF , 406px 6546px #FFF , 1349px 645px #FFF , 1794px 7157px #FFF , 2483px 2459px #FFF , 2782px 4462px #FFF , 962px 4356px #FFF , 273px 16px #FFF , 2077px 1476px #FFF , 2555px 83px #FFF , 1182px 240px #FFF , 640px 7990px #FFF , 2104px 8551px #FFF , 30px 1661px #FFF , 2107px 2593px #FFF , 683px 3932px #FFF , 90px 1114px #FFF , 2216px 3941px #FFF , 1563px 5221px #FFF , 2377px 6351px #FFF , 1568px 461px #FFF , 1761px 1184px #FFF , 506px 6983px #FFF , 1513px 7242px #FFF , 1117px 7368px #FFF , 2170px 6608px #FFF , 1107px 8326px #FFF , 991px 7975px #FFF , 385px 664px #FFF , 2091px 774px #FFF , 1315px 344px #FFF , 2201px 7647px #FFF , 1091px 1800px #FFF , 2049px 5596px #FFF , 1494px 7454px #FFF , 2603px 2800px #FFF , 2724px 1714px #FFF , 998px 4599px #FFF , 284px 5510px #FFF , 2119px 3848px #FFF , 1212px 1863px #FFF , 2497px 2630px #FFF , 2323px 6149px #FFF , 2811px 684px #FFF , 1398px 6493px #FFF , 1977px 3586px #FFF , 1501px 3917px #FFF , 2577px 4454px #FFF , 1162px 2108px #FFF , 1138px 7157px #FFF , 1878px 4405px #FFF , 795px 5733px #FFF , 2242px 8623px #FFF , 1295px 4074px #FFF , 1729px 620px #FFF , 1284px 4625px #FFF , 678px 717px #FFF , 2118px 8268px #FFF , 1315px 4124px #FFF , 2162px 1277px #FFF , 2098px 2288px #FFF , 2780px 2929px #FFF , 188px 6448px #FFF , 930px 4163px #FFF , 2071px 7930px #FFF , 42px 8909px #FFF , 2083px 1778px #FFF , 2936px 8714px #FFF , 2823px 5754px #FFF , 2339px 942px #FFF , 2361px 7382px #FFF , 1840px 3885px #FFF , 2295px 3937px #FFF , 2135px 8591px #FFF , 959px 7563px #FFF , 1455px 2552px #FFF , 176px 8997px #FFF , 1000px 2942px #FFF , 2886px 2721px #FFF , 421px 8491px #FFF , 2093px 6730px #FFF , 1771px 1120px #FFF , 401px 4151px #FFF , 67px 1621px #FFF , 1698px 7670px #FFF , 1045px 4342px #FFF , 695px 1578px #FFF , 1070px 2380px #FFF , 1902px 1480px #FFF , 2420px 5204px #FFF , 1220px 1525px #FFF , 1868px 5724px #FFF , 1303px 5517px #FFF , 919px 5963px #FFF , 2090px 4471px #FFF , 397px 6624px #FFF , 1086px 434px #FFF , 1234px 4849px #FFF , 2688px 5706px #FFF , 1654px 471px #FFF , 2977px 6378px #FFF , 650px 5683px #FFF , 2362px 3444px #FFF , 1122px 4752px #FFF , 1529px 8558px #FFF , 2097px 5410px #FFF , 1610px 565px #FFF , 1662px 5001px #FFF , 791px 6476px #FFF , 656px 4885px #FFF , 2114px 4686px #FFF , 710px 1698px #FFF , 2924px 4846px #FFF , 577px 5714px #FFF , 2196px 1955px #FFF , 2814px 2194px #FFF , 244px 3815px #FFF , 493px 3398px #FFF , 1479px 8459px #FFF , 637px 4642px #FFF , 2899px 6259px #FFF , 1244px 678px #FFF , 986px 8772px #FFF , 86px 6421px #FFF , 2530px 6999px #FFF , 1072px 781px #FFF , 643px 1880px #FFF , 155px 8335px #FFF , 136px 3920px #FFF , 2967px 6719px #FFF , 2777px 8447px #FFF , 908px 7612px #FFF , 501px 1878px #FFF , 672px 3359px #FFF , 279px 8122px #FFF , 1039px 7318px #FFF , 1644px 2919px #FFF , 2850px 8711px #FFF , 2730px 1515px #FFF , 251px 4406px #FFF , 1268px 3244px #FFF , 1469px 3035px #FFF , 1112px 3920px #FFF , 1784px 8630px #FFF , 1520px 3186px #FFF , 1593px 2236px #FFF , 2325px 1338px #FFF , 2870px 528px #FFF , 2756px 3168px #FFF , 2839px 5916px #FFF , 897px 607px #FFF , 1544px 1215px #FFF , 2566px 4596px #FFF , 265px 820px #FFF , 532px 8037px #FFF , 2608px 7335px #FFF , 1974px 625px #FFF , 1733px 2022px #FFF , 1922px 6094px #FFF , 2926px 3359px #FFF , 134px 3078px #FFF , 1274px 5550px #FFF , 788px 947px #FFF , 2789px 6534px #FFF , 868px 1619px #FFF , 1238px 251px #FFF , 355px 5260px #FFF , 2390px 8308px #FFF , 1432px 3760px #FFF , 2311px 7123px #FFF , 2717px 8191px #FFF , 2690px 7332px #FFF , 2435px 5506px #FFF , 1226px 127px #FFF , 1302px 4235px #FFF , 160px 6023px #FFF , 830px 4084px #FFF , 1892px 7855px #FFF , 734px 4966px #FFF , 430px 1557px #FFF , 895px 2681px #FFF , 418px 2436px #FFF , 735px 1188px #FFF , 1854px 7799px #FFF , 2906px 8868px #FFF , 1023px 6551px #FFF , 1718px 8710px #FFF , 1358px 1519px #FFF , 2724px 1614px #FFF , 956px 3036px #FFF , 1310px 674px #FFF , 58px 959px #FFF , 705px 8275px #FFF , 1012px 291px #FFF , 502px 6680px #FFF , 2988px 4358px #FFF , 1423px 965px #FFF , 2142px 6758px #FFF , 147px 3181px #FFF , 2565px 5014px #FFF , 2469px 3651px #FFF , 2609px 6674px #FFF , 1501px 1018px #FFF , 1342px 3389px #FFF , 1921px 8061px #FFF , 74px 1649px #FFF , 177px 530px #FFF , 1465px 7729px #FFF , 768px 3752px #FFF , 1757px 3591px #FFF , 2040px 5724px #FFF , 966px 7787px #FFF , 360px 6347px #FFF , 1925px 2147px #FFF , 2204px 6787px #FFF , 1826px 1628px #FFF , 419px 2323px #FFF , 2617px 5220px #FFF , 1668px 6993px #FFF , 2600px 4872px #FFF , 253px 5343px #FFF , 1641px 6838px #FFF , 193px 1557px #FFF , 2960px 808px #FFF , 30px 7993px #FFF , 2446px 7043px #FFF , 908px 7606px #FFF , 431px 1007px #FFF , 2053px 8549px #FFF , 740px 1821px #FFF , 2742px 2460px #FFF , 2369px 3448px #FFF , 2414px 695px #FFF , 1343px 2171px #FFF , 2988px 3628px #FFF , 1798px 3278px #FFF , 269px 2523px #FFF , 979px 3752px #FFF , 2872px 7399px #FFF , 1943px 3048px #FFF , 1152px 1897px #FFF , 764px 3635px #FFF , 2020px 5290px #FFF , 2659px 5829px #FFF , 2969px 4996px #FFF , 881px 1511px #FFF , 742px 646px #FFF , 774px 1076px #FFF , 10px 5536px #FFF , 611px 6576px #FFF , 69px 3747px #FFF , 670px 6197px #FFF , 2504px 6958px #FFF , 163px 1185px #FFF , 2682px 2964px #FFF , 2370px 2169px #FFF , 2442px 6880px #FFF , 443px 4180px #FFF , 2050px 6602px #FFF , 1519px 7803px #FFF , 613px 8331px #FFF , 2319px 7926px #FFF , 1500px 5690px #FFF , 2824px 6109px #FFF , 64px 5019px #FFF , 2111px 6563px #FFF , 2956px 5782px #FFF , 1679px 8703px #FFF , 931px 3378px #FFF , 2662px 7852px #FFF , 2764px 1339px #FFF , 1705px 4458px #FFF , 791px 1027px #FFF , 863px 1620px #FFF , 2818px 6020px #FFF , 2668px 8090px #FFF , 156px 1338px #FFF , 1798px 3908px #FFF , 1447px 4784px #FFF , 2397px 5386px #FFF , 1526px 5088px #FFF , 2464px 2302px #FFF , 2747px 6082px #FFF , 1818px 6449px #FFF , 1484px 716px #FFF , 2125px 5373px #FFF , 1397px 5312px #FFF , 354px 4551px #FFF , 1813px 2000px #FFF , 1149px 7555px #FFF , 2279px 1688px #FFF , 2306px 1354px #FFF , 2613px 3480px #FFF , 2130px 7203px #FFF , 2271px 2103px #FFF , 2089px 7208px #FFF , 1159px 6405px #FFF , 2016px 553px #FFF , 820px 1139px #FFF , 50px 6661px #FFF , 326px 5320px #FFF , 463px 6121px #FFF , 945px 8915px #FFF , 1598px 31px #FFF , 1644px 5245px #FFF , 305px 5139px #FFF , 838px 3208px #FFF , 2530px 7692px #FFF , 1162px 6815px #FFF , 2347px 4571px #FFF , 2555px 2380px #FFF , 941px 521px #FFF , 1588px 7557px #FFF , 719px 5510px #FFF , 1848px 6953px #FFF , 2088px 5680px #FFF , 2758px 8253px #FFF , 1785px 2463px #FFF , 1004px 2516px #FFF , 2412px 112px #FFF , 2932px 8140px #FFF , 1047px 820px #FFF , 2606px 1484px #FFF , 405px 8625px #FFF , 747px 792px #FFF , 2317px 1003px #FFF , 1560px 8083px #FFF , 1965px 33px #FFF , 1311px 1037px #FFF , 260px 3619px #FFF , 816px 7598px #FFF , 2253px 5102px #FFF , 304px 5004px #FFF , 517px 4497px #FFF , 2732px 5043px #FFF , 723px 8726px #FFF , 729px 4689px #FFF , 430px 4081px #FFF , 1282px 8095px #FFF , 1278px 5684px #FFF , 2226px 1758px #FFF , 859px 3088px #FFF , 14px 4142px #FFF , 2361px 3303px #FFF , 191px 6142px #FFF , 2745px 1969px #FFF , 2409px 1374px #FFF , 371px 1642px #FFF , 368px 8234px #FFF , 2740px 43px #FFF , 2673px 8553px #FFF , 2424px 4063px #FFF , 2762px 3120px #FFF , 893px 3334px #FFF , 114px 7698px #FFF , 2312px 7264px #FFF;
            box-shadow: 1854px 7637px #FFF , 1646px 6161px #FFF , 1711px 3242px #FFF , 472px 1625px #FFF , 658px 8047px #FFF , 2109px 4284px #FFF , 1792px 6074px #FFF , 440px 284px #FFF , 1425px 3759px #FFF , 1594px 2187px #FFF , 2419px 3700px #FFF , 1862px 5618px #FFF , 758px 2249px #FFF , 851px 1682px #FFF , 2482px 656px #FFF , 1877px 899px #FFF , 10px 8665px #FFF , 942px 2987px #FFF , 915px 7580px #FFF , 1649px 5236px #FFF , 2058px 5186px #FFF , 1364px 2651px #FFF , 1260px 8446px #FFF , 1101px 6914px #FFF , 1723px 4234px #FFF , 242px 7462px #FFF , 2433px 167px #FFF , 2384px 4526px #FFF , 1831px 1873px #FFF , 2708px 4458px #FFF , 611px 2909px #FFF , 2402px 2915px #FFF , 762px 7840px #FFF , 2621px 3333px #FFF , 2186px 5884px #FFF , 976px 848px #FFF , 1831px 4006px #FFF , 722px 5470px #FFF , 1764px 941px #FFF , 2997px 4220px #FFF , 1540px 2403px #FFF , 2692px 8092px #FFF , 2324px 3970px #FFF , 1104px 1691px #FFF , 2136px 1830px #FFF , 2621px 8376px #FFF , 406px 6546px #FFF , 1349px 645px #FFF , 1794px 7157px #FFF , 2483px 2459px #FFF , 2782px 4462px #FFF , 962px 4356px #FFF , 273px 16px #FFF , 2077px 1476px #FFF , 2555px 83px #FFF , 1182px 240px #FFF , 640px 7990px #FFF , 2104px 8551px #FFF , 30px 1661px #FFF , 2107px 2593px #FFF , 683px 3932px #FFF , 90px 1114px #FFF , 2216px 3941px #FFF , 1563px 5221px #FFF , 2377px 6351px #FFF , 1568px 461px #FFF , 1761px 1184px #FFF , 506px 6983px #FFF , 1513px 7242px #FFF , 1117px 7368px #FFF , 2170px 6608px #FFF , 1107px 8326px #FFF , 991px 7975px #FFF , 385px 664px #FFF , 2091px 774px #FFF , 1315px 344px #FFF , 2201px 7647px #FFF , 1091px 1800px #FFF , 2049px 5596px #FFF , 1494px 7454px #FFF , 2603px 2800px #FFF , 2724px 1714px #FFF , 998px 4599px #FFF , 284px 5510px #FFF , 2119px 3848px #FFF , 1212px 1863px #FFF , 2497px 2630px #FFF , 2323px 6149px #FFF , 2811px 684px #FFF , 1398px 6493px #FFF , 1977px 3586px #FFF , 1501px 3917px #FFF , 2577px 4454px #FFF , 1162px 2108px #FFF , 1138px 7157px #FFF , 1878px 4405px #FFF , 795px 5733px #FFF , 2242px 8623px #FFF , 1295px 4074px #FFF , 1729px 620px #FFF , 1284px 4625px #FFF , 678px 717px #FFF , 2118px 8268px #FFF , 1315px 4124px #FFF , 2162px 1277px #FFF , 2098px 2288px #FFF , 2780px 2929px #FFF , 188px 6448px #FFF , 930px 4163px #FFF , 2071px 7930px #FFF , 42px 8909px #FFF , 2083px 1778px #FFF , 2936px 8714px #FFF , 2823px 5754px #FFF , 2339px 942px #FFF , 2361px 7382px #FFF , 1840px 3885px #FFF , 2295px 3937px #FFF , 2135px 8591px #FFF , 959px 7563px #FFF , 1455px 2552px #FFF , 176px 8997px #FFF , 1000px 2942px #FFF , 2886px 2721px #FFF , 421px 8491px #FFF , 2093px 6730px #FFF , 1771px 1120px #FFF , 401px 4151px #FFF , 67px 1621px #FFF , 1698px 7670px #FFF , 1045px 4342px #FFF , 695px 1578px #FFF , 1070px 2380px #FFF , 1902px 1480px #FFF , 2420px 5204px #FFF , 1220px 1525px #FFF , 1868px 5724px #FFF , 1303px 5517px #FFF , 919px 5963px #FFF , 2090px 4471px #FFF , 397px 6624px #FFF , 1086px 434px #FFF , 1234px 4849px #FFF , 2688px 5706px #FFF , 1654px 471px #FFF , 2977px 6378px #FFF , 650px 5683px #FFF , 2362px 3444px #FFF , 1122px 4752px #FFF , 1529px 8558px #FFF , 2097px 5410px #FFF , 1610px 565px #FFF , 1662px 5001px #FFF , 791px 6476px #FFF , 656px 4885px #FFF , 2114px 4686px #FFF , 710px 1698px #FFF , 2924px 4846px #FFF , 577px 5714px #FFF , 2196px 1955px #FFF , 2814px 2194px #FFF , 244px 3815px #FFF , 493px 3398px #FFF , 1479px 8459px #FFF , 637px 4642px #FFF , 2899px 6259px #FFF , 1244px 678px #FFF , 986px 8772px #FFF , 86px 6421px #FFF , 2530px 6999px #FFF , 1072px 781px #FFF , 643px 1880px #FFF , 155px 8335px #FFF , 136px 3920px #FFF , 2967px 6719px #FFF , 2777px 8447px #FFF , 908px 7612px #FFF , 501px 1878px #FFF , 672px 3359px #FFF , 279px 8122px #FFF , 1039px 7318px #FFF , 1644px 2919px #FFF , 2850px 8711px #FFF , 2730px 1515px #FFF , 251px 4406px #FFF , 1268px 3244px #FFF , 1469px 3035px #FFF , 1112px 3920px #FFF , 1784px 8630px #FFF , 1520px 3186px #FFF , 1593px 2236px #FFF , 2325px 1338px #FFF , 2870px 528px #FFF , 2756px 3168px #FFF , 2839px 5916px #FFF , 897px 607px #FFF , 1544px 1215px #FFF , 2566px 4596px #FFF , 265px 820px #FFF , 532px 8037px #FFF , 2608px 7335px #FFF , 1974px 625px #FFF , 1733px 2022px #FFF , 1922px 6094px #FFF , 2926px 3359px #FFF , 134px 3078px #FFF , 1274px 5550px #FFF , 788px 947px #FFF , 2789px 6534px #FFF , 868px 1619px #FFF , 1238px 251px #FFF , 355px 5260px #FFF , 2390px 8308px #FFF , 1432px 3760px #FFF , 2311px 7123px #FFF , 2717px 8191px #FFF , 2690px 7332px #FFF , 2435px 5506px #FFF , 1226px 127px #FFF , 1302px 4235px #FFF , 160px 6023px #FFF , 830px 4084px #FFF , 1892px 7855px #FFF , 734px 4966px #FFF , 430px 1557px #FFF , 895px 2681px #FFF , 418px 2436px #FFF , 735px 1188px #FFF , 1854px 7799px #FFF , 2906px 8868px #FFF , 1023px 6551px #FFF , 1718px 8710px #FFF , 1358px 1519px #FFF , 2724px 1614px #FFF , 956px 3036px #FFF , 1310px 674px #FFF , 58px 959px #FFF , 705px 8275px #FFF , 1012px 291px #FFF , 502px 6680px #FFF , 2988px 4358px #FFF , 1423px 965px #FFF , 2142px 6758px #FFF , 147px 3181px #FFF , 2565px 5014px #FFF , 2469px 3651px #FFF , 2609px 6674px #FFF , 1501px 1018px #FFF , 1342px 3389px #FFF , 1921px 8061px #FFF , 74px 1649px #FFF , 177px 530px #FFF , 1465px 7729px #FFF , 768px 3752px #FFF , 1757px 3591px #FFF , 2040px 5724px #FFF , 966px 7787px #FFF , 360px 6347px #FFF , 1925px 2147px #FFF , 2204px 6787px #FFF , 1826px 1628px #FFF , 419px 2323px #FFF , 2617px 5220px #FFF , 1668px 6993px #FFF , 2600px 4872px #FFF , 253px 5343px #FFF , 1641px 6838px #FFF , 193px 1557px #FFF , 2960px 808px #FFF , 30px 7993px #FFF , 2446px 7043px #FFF , 908px 7606px #FFF , 431px 1007px #FFF , 2053px 8549px #FFF , 740px 1821px #FFF , 2742px 2460px #FFF , 2369px 3448px #FFF , 2414px 695px #FFF , 1343px 2171px #FFF , 2988px 3628px #FFF , 1798px 3278px #FFF , 269px 2523px #FFF , 979px 3752px #FFF , 2872px 7399px #FFF , 1943px 3048px #FFF , 1152px 1897px #FFF , 764px 3635px #FFF , 2020px 5290px #FFF , 2659px 5829px #FFF , 2969px 4996px #FFF , 881px 1511px #FFF , 742px 646px #FFF , 774px 1076px #FFF , 10px 5536px #FFF , 611px 6576px #FFF , 69px 3747px #FFF , 670px 6197px #FFF , 2504px 6958px #FFF , 163px 1185px #FFF , 2682px 2964px #FFF , 2370px 2169px #FFF , 2442px 6880px #FFF , 443px 4180px #FFF , 2050px 6602px #FFF , 1519px 7803px #FFF , 613px 8331px #FFF , 2319px 7926px #FFF , 1500px 5690px #FFF , 2824px 6109px #FFF , 64px 5019px #FFF , 2111px 6563px #FFF , 2956px 5782px #FFF , 1679px 8703px #FFF , 931px 3378px #FFF , 2662px 7852px #FFF , 2764px 1339px #FFF , 1705px 4458px #FFF , 791px 1027px #FFF , 863px 1620px #FFF , 2818px 6020px #FFF , 2668px 8090px #FFF , 156px 1338px #FFF , 1798px 3908px #FFF , 1447px 4784px #FFF , 2397px 5386px #FFF , 1526px 5088px #FFF , 2464px 2302px #FFF , 2747px 6082px #FFF , 1818px 6449px #FFF , 1484px 716px #FFF , 2125px 5373px #FFF , 1397px 5312px #FFF , 354px 4551px #FFF , 1813px 2000px #FFF , 1149px 7555px #FFF , 2279px 1688px #FFF , 2306px 1354px #FFF , 2613px 3480px #FFF , 2130px 7203px #FFF , 2271px 2103px #FFF , 2089px 7208px #FFF , 1159px 6405px #FFF , 2016px 553px #FFF , 820px 1139px #FFF , 50px 6661px #FFF , 326px 5320px #FFF , 463px 6121px #FFF , 945px 8915px #FFF , 1598px 31px #FFF , 1644px 5245px #FFF , 305px 5139px #FFF , 838px 3208px #FFF , 2530px 7692px #FFF , 1162px 6815px #FFF , 2347px 4571px #FFF , 2555px 2380px #FFF , 941px 521px #FFF , 1588px 7557px #FFF , 719px 5510px #FFF , 1848px 6953px #FFF , 2088px 5680px #FFF , 2758px 8253px #FFF , 1785px 2463px #FFF , 1004px 2516px #FFF , 2412px 112px #FFF , 2932px 8140px #FFF , 1047px 820px #FFF , 2606px 1484px #FFF , 405px 8625px #FFF , 747px 792px #FFF , 2317px 1003px #FFF , 1560px 8083px #FFF , 1965px 33px #FFF , 1311px 1037px #FFF , 260px 3619px #FFF , 816px 7598px #FFF , 2253px 5102px #FFF , 304px 5004px #FFF , 517px 4497px #FFF , 2732px 5043px #FFF , 723px 8726px #FFF , 729px 4689px #FFF , 430px 4081px #FFF , 1282px 8095px #FFF , 1278px 5684px #FFF , 2226px 1758px #FFF , 859px 3088px #FFF , 14px 4142px #FFF , 2361px 3303px #FFF , 191px 6142px #FFF , 2745px 1969px #FFF , 2409px 1374px #FFF , 371px 1642px #FFF , 368px 8234px #FFF , 2740px 43px #FFF , 2673px 8553px #FFF , 2424px 4063px #FFF , 2762px 3120px #FFF , 893px 3334px #FFF , 114px 7698px #FFF , 2312px 7264px #FFF;
    -webkit-animation: starMovement 240s linear infinite;
            animation: starMovement 240s linear infinite;
    overflow: hidden;
  }
  #smallStars:after {
    content: " ";
    position: absolute;
    top: 4000px;
    left: -500px;
  }
  #mediumStars {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    -webkit-box-shadow: 2603px 2967px #FFF , 1897px 8519px #FFF , 1054px 868px #FFF , 18px 9000px #FFF , 2276px 1377px #FFF , 1218px 1532px #FFF , 2131px 282px #FFF , 2665px 2910px #FFF , 2058px 5073px #FFF , 274px 2385px #FFF , 736px 122px #FFF , 2675px 5269px #FFF , 1071px 1155px #FFF , 1570px 8707px #FFF , 2243px 2437px #FFF , 1060px 8720px #FFF , 1326px 6961px #FFF , 2082px 4014px #FFF , 918px 1540px #FFF , 1503px 3842px #FFF , 67px 1744px #FFF , 1117px 3141px #FFF , 443px 7951px #FFF , 2333px 4621px #FFF , 729px 4739px #FFF , 2798px 8629px #FFF , 2025px 8977px #FFF , 2973px 5672px #FFF , 1252px 5142px #FFF , 2332px 6218px #FFF , 4px 8773px #FFF , 1981px 5689px #FFF , 2006px 6389px #FFF , 2101px 2333px #FFF , 2851px 1131px #FFF , 2731px 5332px #FFF , 2131px 606px #FFF , 2617px 6424px #FFF , 241px 2015px #FFF , 2009px 2223px #FFF , 2785px 2212px #FFF , 2816px 528px #FFF , 1311px 6910px #FFF , 415px 2328px #FFF , 970px 3676px #FFF , 2619px 533px #FFF , 2913px 5812px #FFF , 810px 5892px #FFF , 1557px 4881px #FFF , 820px 6970px #FFF , 343px 1660px #FFF , 918px 2840px #FFF , 1029px 444px #FFF , 105px 8079px #FFF , 1220px 2013px #FFF , 1955px 7763px #FFF , 1058px 1842px #FFF , 2119px 5071px #FFF , 618px 2347px #FFF , 1862px 1421px #FFF , 2242px 4229px #FFF , 1794px 6674px #FFF , 2888px 5326px #FFF , 2218px 4047px #FFF , 1214px 5223px #FFF , 913px 4123px #FFF , 656px 3038px #FFF , 1563px 7418px #FFF , 696px 1474px #FFF , 755px 4922px #FFF , 892px 8427px #FFF , 811px 70px #FFF , 1433px 7566px #FFF , 1442px 671px #FFF , 2695px 7415px #FFF , 1775px 2755px #FFF , 1219px 5784px #FFF , 338px 1365px #FFF , 931px 2593px #FFF , 1657px 3073px #FFF , 2707px 7592px #FFF , 2305px 8436px #FFF , 397px 5656px #FFF , 2447px 8820px #FFF , 2056px 5267px #FFF , 2821px 1172px #FFF , 2067px 7428px #FFF , 2774px 8610px #FFF , 2714px 6907px #FFF , 1419px 226px #FFF , 2274px 1081px #FFF , 1457px 8350px #FFF , 754px 7939px #FFF , 2942px 405px #FFF , 2731px 8784px #FFF , 735px 3811px #FFF , 1668px 121px #FFF , 1090px 7110px #FFF , 604px 108px #FFF , 2578px 8951px #FFF , 1898px 4935px #FFF , 2101px 8102px #FFF , 320px 6241px #FFF , 2549px 2545px #FFF , 1553px 1362px #FFF , 1078px 5887px #FFF , 109px 1112px #FFF , 2488px 7043px #FFF , 2051px 5866px #FFF , 638px 3950px #FFF , 1642px 4422px #FFF , 1521px 2878px #FFF , 1622px 2184px #FFF , 689px 5836px #FFF , 1837px 5986px #FFF , 2545px 7705px #FFF , 1561px 1634px #FFF , 799px 4310px #FFF , 554px 441px #FFF , 1635px 5029px #FFF , 2289px 8687px #FFF , 1650px 753px #FFF , 1366px 2447px #FFF , 562px 8609px #FFF , 920px 7356px #FFF , 2958px 4905px #FFF , 1590px 5092px #FFF , 2042px 3131px #FFF , 286px 648px #FFF , 116px 3060px #FFF , 946px 7263px #FFF , 120px 5871px #FFF , 1632px 3622px #FFF , 1601px 2487px #FFF , 1920px 8750px #FFF , 688px 2114px #FFF , 767px 6327px #FFF , 1384px 7784px #FFF , 2700px 5399px #FFF , 1362px 3650px #FFF , 970px 4548px #FFF , 1555px 1043px #FFF , 2239px 3960px #FFF , 335px 6642px #FFF , 1702px 6010px #FFF , 1844px 1532px #FFF , 1802px 8280px #FFF , 583px 2809px #FFF , 1689px 6818px #FFF , 2243px 1512px #FFF , 2832px 5333px #FFF , 254px 8190px #FFF , 1131px 1357px #FFF , 1467px 4722px #FFF , 1299px 1618px #FFF , 2037px 3313px #FFF , 1328px 6478px #FFF , 497px 6683px #FFF , 2061px 3080px #FFF , 1765px 8145px #FFF , 102px 2819px #FFF , 2401px 6663px #FFF , 2261px 1376px #FFF , 2086px 7822px #FFF , 2546px 6153px #FFF , 2970px 3069px #FFF , 2790px 7889px #FFF , 470px 215px #FFF , 2148px 555px #FFF , 569px 3857px #FFF , 1153px 7581px #FFF , 1272px 3418px #FFF , 1935px 2157px #FFF , 1531px 5180px #FFF , 737px 3606px #FFF , 2763px 2174px #FFF , 723px 2558px #FFF , 1599px 4277px #FFF , 660px 2889px #FFF , 1068px 7893px #FFF , 2893px 4985px #FFF , 1419px 5810px #FFF , 2816px 947px #FFF , 1446px 4888px #FFF , 128px 7340px #FFF , 2560px 4541px #FFF , 2562px 1163px #FFF , 2125px 4693px #FFF , 638px 7009px #FFF , 1091px 2831px #FFF , 249px 3358px #FFF , 1782px 2656px #FFF , 851px 8465px #FFF , 2595px 356px #FFF , 1388px 5736px #FFF , 126px 8487px #FFF , 1769px 269px #FFF , 502px 1055px #FFF , 2610px 4159px #FFF , 138px 7289px #FFF , 2416px 692px #FFF , 685px 5152px #FFF , 1281px 1570px #FFF , 866px 5995px #FFF , 1695px 6343px #FFF , 253px 8439px #FFF , 1928px 1386px #FFF , 21px 7647px #FFF , 1101px 4221px #FFF , 798px 6103px #FFF , 705px 4677px #FFF , 1576px 4332px #FFF , 1538px 7812px #FFF , 2166px 7301px #FFF , 438px 7868px #FFF , 1897px 2105px #FFF , 162px 7104px #FFF , 59px 3711px #FFF , 1229px 3571px #FFF , 144px 8074px #FFF , 698px 729px #FFF , 1395px 8971px #FFF , 2587px 5188px #FFF , 1318px 319px #FFF , 533px 1163px #FFF , 1079px 8786px #FFF , 1160px 3959px #FFF , 303px 7432px #FFF , 2612px 5732px #FFF , 2782px 1784px #FFF , 1137px 8215px #FFF , 2153px 6971px #FFF , 148px 8030px #FFF , 1046px 8830px #FFF , 1855px 2868px #FFF , 327px 1209px #FFF , 478px 7236px #FFF , 2086px 7644px #FFF , 2449px 633px #FFF , 2831px 1695px #FFF , 2996px 6311px #FFF , 2874px 1466px #FFF , 2288px 1300px #FFF , 2438px 1790px #FFF , 1850px 5498px #FFF , 1316px 7725px #FFF , 1458px 3267px #FFF , 721px 7923px #FFF , 2236px 4982px #FFF , 2550px 2916px #FFF , 1893px 8260px #FFF , 1380px 4180px #FFF , 2622px 5217px #FFF , 114px 1846px #FFF , 2218px 998px #FFF , 2107px 5033px #FFF , 2967px 994px #FFF , 2180px 5723px #FFF , 1234px 2863px #FFF , 621px 3817px #FFF , 2883px 135px #FFF , 2714px 5486px #FFF , 523px 6112px #FFF , 731px 2216px #FFF , 1555px 2073px #FFF , 2824px 6881px #FFF , 2169px 518px #FFF , 831px 2712px #FFF , 1119px 4686px #FFF , 2099px 3638px #FFF , 1035px 6873px #FFF , 810px 6539px #FFF , 1680px 8394px #FFF , 2207px 6249px #FFF , 2986px 4001px #FFF , 2022px 7627px #FFF , 74px 5437px #FFF , 66px 642px #FFF , 2299px 7664px #FFF , 1315px 4749px #FFF , 422px 578px #FFF , 2297px 8489px #FFF , 1199px 6496px #FFF , 324px 4410px #FFF , 2490px 8438px #FFF , 561px 3918px #FFF , 2796px 4427px #FFF , 1234px 1451px #FFF , 2998px 8976px #FFF , 320px 1825px #FFF , 1083px 5040px #FFF , 2351px 2888px #FFF , 87px 1947px #FFF , 1004px 6179px #FFF , 584px 4110px #FFF , 1503px 3910px #FFF , 574px 3483px #FFF , 934px 7936px #FFF , 1475px 3186px #FFF , 949px 2792px #FFF , 160px 8618px #FFF;
            box-shadow: 2603px 2967px #FFF , 1897px 8519px #FFF , 1054px 868px #FFF , 18px 9000px #FFF , 2276px 1377px #FFF , 1218px 1532px #FFF , 2131px 282px #FFF , 2665px 2910px #FFF , 2058px 5073px #FFF , 274px 2385px #FFF , 736px 122px #FFF , 2675px 5269px #FFF , 1071px 1155px #FFF , 1570px 8707px #FFF , 2243px 2437px #FFF , 1060px 8720px #FFF , 1326px 6961px #FFF , 2082px 4014px #FFF , 918px 1540px #FFF , 1503px 3842px #FFF , 67px 1744px #FFF , 1117px 3141px #FFF , 443px 7951px #FFF , 2333px 4621px #FFF , 729px 4739px #FFF , 2798px 8629px #FFF , 2025px 8977px #FFF , 2973px 5672px #FFF , 1252px 5142px #FFF , 2332px 6218px #FFF , 4px 8773px #FFF , 1981px 5689px #FFF , 2006px 6389px #FFF , 2101px 2333px #FFF , 2851px 1131px #FFF , 2731px 5332px #FFF , 2131px 606px #FFF , 2617px 6424px #FFF , 241px 2015px #FFF , 2009px 2223px #FFF , 2785px 2212px #FFF , 2816px 528px #FFF , 1311px 6910px #FFF , 415px 2328px #FFF , 970px 3676px #FFF , 2619px 533px #FFF , 2913px 5812px #FFF , 810px 5892px #FFF , 1557px 4881px #FFF , 820px 6970px #FFF , 343px 1660px #FFF , 918px 2840px #FFF , 1029px 444px #FFF , 105px 8079px #FFF , 1220px 2013px #FFF , 1955px 7763px #FFF , 1058px 1842px #FFF , 2119px 5071px #FFF , 618px 2347px #FFF , 1862px 1421px #FFF , 2242px 4229px #FFF , 1794px 6674px #FFF , 2888px 5326px #FFF , 2218px 4047px #FFF , 1214px 5223px #FFF , 913px 4123px #FFF , 656px 3038px #FFF , 1563px 7418px #FFF , 696px 1474px #FFF , 755px 4922px #FFF , 892px 8427px #FFF , 811px 70px #FFF , 1433px 7566px #FFF , 1442px 671px #FFF , 2695px 7415px #FFF , 1775px 2755px #FFF , 1219px 5784px #FFF , 338px 1365px #FFF , 931px 2593px #FFF , 1657px 3073px #FFF , 2707px 7592px #FFF , 2305px 8436px #FFF , 397px 5656px #FFF , 2447px 8820px #FFF , 2056px 5267px #FFF , 2821px 1172px #FFF , 2067px 7428px #FFF , 2774px 8610px #FFF , 2714px 6907px #FFF , 1419px 226px #FFF , 2274px 1081px #FFF , 1457px 8350px #FFF , 754px 7939px #FFF , 2942px 405px #FFF , 2731px 8784px #FFF , 735px 3811px #FFF , 1668px 121px #FFF , 1090px 7110px #FFF , 604px 108px #FFF , 2578px 8951px #FFF , 1898px 4935px #FFF , 2101px 8102px #FFF , 320px 6241px #FFF , 2549px 2545px #FFF , 1553px 1362px #FFF , 1078px 5887px #FFF , 109px 1112px #FFF , 2488px 7043px #FFF , 2051px 5866px #FFF , 638px 3950px #FFF , 1642px 4422px #FFF , 1521px 2878px #FFF , 1622px 2184px #FFF , 689px 5836px #FFF , 1837px 5986px #FFF , 2545px 7705px #FFF , 1561px 1634px #FFF , 799px 4310px #FFF , 554px 441px #FFF , 1635px 5029px #FFF , 2289px 8687px #FFF , 1650px 753px #FFF , 1366px 2447px #FFF , 562px 8609px #FFF , 920px 7356px #FFF , 2958px 4905px #FFF , 1590px 5092px #FFF , 2042px 3131px #FFF , 286px 648px #FFF , 116px 3060px #FFF , 946px 7263px #FFF , 120px 5871px #FFF , 1632px 3622px #FFF , 1601px 2487px #FFF , 1920px 8750px #FFF , 688px 2114px #FFF , 767px 6327px #FFF , 1384px 7784px #FFF , 2700px 5399px #FFF , 1362px 3650px #FFF , 970px 4548px #FFF , 1555px 1043px #FFF , 2239px 3960px #FFF , 335px 6642px #FFF , 1702px 6010px #FFF , 1844px 1532px #FFF , 1802px 8280px #FFF , 583px 2809px #FFF , 1689px 6818px #FFF , 2243px 1512px #FFF , 2832px 5333px #FFF , 254px 8190px #FFF , 1131px 1357px #FFF , 1467px 4722px #FFF , 1299px 1618px #FFF , 2037px 3313px #FFF , 1328px 6478px #FFF , 497px 6683px #FFF , 2061px 3080px #FFF , 1765px 8145px #FFF , 102px 2819px #FFF , 2401px 6663px #FFF , 2261px 1376px #FFF , 2086px 7822px #FFF , 2546px 6153px #FFF , 2970px 3069px #FFF , 2790px 7889px #FFF , 470px 215px #FFF , 2148px 555px #FFF , 569px 3857px #FFF , 1153px 7581px #FFF , 1272px 3418px #FFF , 1935px 2157px #FFF , 1531px 5180px #FFF , 737px 3606px #FFF , 2763px 2174px #FFF , 723px 2558px #FFF , 1599px 4277px #FFF , 660px 2889px #FFF , 1068px 7893px #FFF , 2893px 4985px #FFF , 1419px 5810px #FFF , 2816px 947px #FFF , 1446px 4888px #FFF , 128px 7340px #FFF , 2560px 4541px #FFF , 2562px 1163px #FFF , 2125px 4693px #FFF , 638px 7009px #FFF , 1091px 2831px #FFF , 249px 3358px #FFF , 1782px 2656px #FFF , 851px 8465px #FFF , 2595px 356px #FFF , 1388px 5736px #FFF , 126px 8487px #FFF , 1769px 269px #FFF , 502px 1055px #FFF , 2610px 4159px #FFF , 138px 7289px #FFF , 2416px 692px #FFF , 685px 5152px #FFF , 1281px 1570px #FFF , 866px 5995px #FFF , 1695px 6343px #FFF , 253px 8439px #FFF , 1928px 1386px #FFF , 21px 7647px #FFF , 1101px 4221px #FFF , 798px 6103px #FFF , 705px 4677px #FFF , 1576px 4332px #FFF , 1538px 7812px #FFF , 2166px 7301px #FFF , 438px 7868px #FFF , 1897px 2105px #FFF , 162px 7104px #FFF , 59px 3711px #FFF , 1229px 3571px #FFF , 144px 8074px #FFF , 698px 729px #FFF , 1395px 8971px #FFF , 2587px 5188px #FFF , 1318px 319px #FFF , 533px 1163px #FFF , 1079px 8786px #FFF , 1160px 3959px #FFF , 303px 7432px #FFF , 2612px 5732px #FFF , 2782px 1784px #FFF , 1137px 8215px #FFF , 2153px 6971px #FFF , 148px 8030px #FFF , 1046px 8830px #FFF , 1855px 2868px #FFF , 327px 1209px #FFF , 478px 7236px #FFF , 2086px 7644px #FFF , 2449px 633px #FFF , 2831px 1695px #FFF , 2996px 6311px #FFF , 2874px 1466px #FFF , 2288px 1300px #FFF , 2438px 1790px #FFF , 1850px 5498px #FFF , 1316px 7725px #FFF , 1458px 3267px #FFF , 721px 7923px #FFF , 2236px 4982px #FFF , 2550px 2916px #FFF , 1893px 8260px #FFF , 1380px 4180px #FFF , 2622px 5217px #FFF , 114px 1846px #FFF , 2218px 998px #FFF , 2107px 5033px #FFF , 2967px 994px #FFF , 2180px 5723px #FFF , 1234px 2863px #FFF , 621px 3817px #FFF , 2883px 135px #FFF , 2714px 5486px #FFF , 523px 6112px #FFF , 731px 2216px #FFF , 1555px 2073px #FFF , 2824px 6881px #FFF , 2169px 518px #FFF , 831px 2712px #FFF , 1119px 4686px #FFF , 2099px 3638px #FFF , 1035px 6873px #FFF , 810px 6539px #FFF , 1680px 8394px #FFF , 2207px 6249px #FFF , 2986px 4001px #FFF , 2022px 7627px #FFF , 74px 5437px #FFF , 66px 642px #FFF , 2299px 7664px #FFF , 1315px 4749px #FFF , 422px 578px #FFF , 2297px 8489px #FFF , 1199px 6496px #FFF , 324px 4410px #FFF , 2490px 8438px #FFF , 561px 3918px #FFF , 2796px 4427px #FFF , 1234px 1451px #FFF , 2998px 8976px #FFF , 320px 1825px #FFF , 1083px 5040px #FFF , 2351px 2888px #FFF , 87px 1947px #FFF , 1004px 6179px #FFF , 584px 4110px #FFF , 1503px 3910px #FFF , 574px 3483px #FFF , 934px 7936px #FFF , 1475px 3186px #FFF , 949px 2792px #FFF , 160px 8618px #FFF;
    -webkit-animation: starMovement 360s linear infinite;
            animation: starMovement 360s linear infinite;
    overflow: hidden;
  }
  #mediumStars:after {
    content: " ";
    position: absolute;
    top: 4000px;
    left: -500px;
  }
  #largeStars {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: white;
    -webkit-box-shadow: 32px 705px #FFF , 880px 2071px #FFF , 1762px 7px #FFF , 886px 660px #FFF , 2627px 8717px #FFF , 2755px 5642px #FFF , 896px 8613px #FFF , 1414px 2841px #FFF , 183px 4211px #FFF , 1686px 8446px #FFF , 2199px 4321px #FFF , 2574px 3706px #FFF , 505px 6152px #FFF , 2294px 6616px #FFF , 1579px 5660px #FFF , 1668px 3887px #FFF , 1626px 4196px #FFF , 1754px 4161px #FFF , 9px 7790px #FFF , 817px 5934px #FFF , 1629px 4484px #FFF , 1800px 4685px #FFF , 741px 1844px #FFF , 1402px 3218px #FFF , 661px 4929px #FFF , 1px 1890px #FFF , 200px 3463px #FFF , 1717px 2391px #FFF , 1275px 7301px #FFF , 2766px 34px #FFF , 1613px 1542px #FFF , 1000px 3576px #FFF , 1555px 2821px #FFF , 66px 2745px #FFF , 794px 7879px #FFF , 783px 3954px #FFF , 668px 7621px #FFF , 2392px 7052px #FFF , 1546px 4014px #FFF , 926px 5062px #FFF , 59px 160px #FFF , 2291px 3658px #FFF , 2562px 1577px #FFF , 2208px 7577px #FFF , 20px 3493px #FFF , 1803px 4140px #FFF , 2589px 3762px #FFF , 936px 1054px #FFF , 1665px 8782px #FFF , 2858px 4729px #FFF , 1877px 6889px #FFF , 1151px 1392px #FFF , 819px 6342px #FFF , 1380px 252px #FFF , 1879px 3146px #FFF , 2696px 8345px #FFF , 1327px 6456px #FFF , 1225px 8954px #FFF , 1601px 5133px #FFF , 347px 6321px #FFF , 2870px 8809px #FFF , 1287px 3417px #FFF , 1px 4226px #FFF , 939px 5408px #FFF , 879px 1385px #FFF , 923px 977px #FFF , 623px 1024px #FFF , 2332px 7797px #FFF , 2182px 2994px #FFF , 2406px 4004px #FFF , 862px 4776px #FFF , 2284px 3024px #FFF , 1238px 2370px #FFF , 373px 2507px #FFF , 2318px 8498px #FFF , 2235px 7737px #FFF , 1504px 4578px #FFF , 1366px 5651px #FFF , 134px 5932px #FFF , 614px 8384px #FFF , 2733px 3250px #FFF , 2159px 1891px #FFF , 261px 214px #FFF , 1784px 7641px #FFF , 2392px 5875px #FFF , 2581px 7583px #FFF , 1016px 5668px #FFF , 217px 2039px #FFF , 2664px 6333px #FFF , 835px 5689px #FFF , 1752px 2040px #FFF , 90px 6536px #FFF , 2254px 121px #FFF , 1823px 3037px #FFF , 2555px 66px #FFF , 1431px 4627px #FFF , 2451px 6915px #FFF , 2449px 6323px #FFF , 1382px 1422px #FFF , 2935px 324px #FFF , 1301px 3637px #FFF;
            box-shadow: 32px 705px #FFF , 880px 2071px #FFF , 1762px 7px #FFF , 886px 660px #FFF , 2627px 8717px #FFF , 2755px 5642px #FFF , 896px 8613px #FFF , 1414px 2841px #FFF , 183px 4211px #FFF , 1686px 8446px #FFF , 2199px 4321px #FFF , 2574px 3706px #FFF , 505px 6152px #FFF , 2294px 6616px #FFF , 1579px 5660px #FFF , 1668px 3887px #FFF , 1626px 4196px #FFF , 1754px 4161px #FFF , 9px 7790px #FFF , 817px 5934px #FFF , 1629px 4484px #FFF , 1800px 4685px #FFF , 741px 1844px #FFF , 1402px 3218px #FFF , 661px 4929px #FFF , 1px 1890px #FFF , 200px 3463px #FFF , 1717px 2391px #FFF , 1275px 7301px #FFF , 2766px 34px #FFF , 1613px 1542px #FFF , 1000px 3576px #FFF , 1555px 2821px #FFF , 66px 2745px #FFF , 794px 7879px #FFF , 783px 3954px #FFF , 668px 7621px #FFF , 2392px 7052px #FFF , 1546px 4014px #FFF , 926px 5062px #FFF , 59px 160px #FFF , 2291px 3658px #FFF , 2562px 1577px #FFF , 2208px 7577px #FFF , 20px 3493px #FFF , 1803px 4140px #FFF , 2589px 3762px #FFF , 936px 1054px #FFF , 1665px 8782px #FFF , 2858px 4729px #FFF , 1877px 6889px #FFF , 1151px 1392px #FFF , 819px 6342px #FFF , 1380px 252px #FFF , 1879px 3146px #FFF , 2696px 8345px #FFF , 1327px 6456px #FFF , 1225px 8954px #FFF , 1601px 5133px #FFF , 347px 6321px #FFF , 2870px 8809px #FFF , 1287px 3417px #FFF , 1px 4226px #FFF , 939px 5408px #FFF , 879px 1385px #FFF , 923px 977px #FFF , 623px 1024px #FFF , 2332px 7797px #FFF , 2182px 2994px #FFF , 2406px 4004px #FFF , 862px 4776px #FFF , 2284px 3024px #FFF , 1238px 2370px #FFF , 373px 2507px #FFF , 2318px 8498px #FFF , 2235px 7737px #FFF , 1504px 4578px #FFF , 1366px 5651px #FFF , 134px 5932px #FFF , 614px 8384px #FFF , 2733px 3250px #FFF , 2159px 1891px #FFF , 261px 214px #FFF , 1784px 7641px #FFF , 2392px 5875px #FFF , 2581px 7583px #FFF , 1016px 5668px #FFF , 217px 2039px #FFF , 2664px 6333px #FFF , 835px 5689px #FFF , 1752px 2040px #FFF , 90px 6536px #FFF , 2254px 121px #FFF , 1823px 3037px #FFF , 2555px 66px #FFF , 1431px 4627px #FFF , 2451px 6915px #FFF , 2449px 6323px #FFF , 1382px 1422px #FFF , 2935px 324px #FFF , 1301px 3637px #FFF;
    -webkit-animation: starMovement 480s linear infinite;
            animation: starMovement 480s linear infinite;
    overflow: hidden;
  }
  #largeStars:after {
    content: " ";
    position: absolute;
    top: 4000px;
    left: -2000px;
  }
  @-webkit-keyframes starMovement {
    from {
      -webkit-transform: translate(0px, 0px);
              transform: translate(0px, 0px);
    }
    to {
      -webkit-transform: translate(-1000px, -3000px);
              transform: translate(-1000px, -3000px);
    }
  }
  @keyframes starMovement {
    from {
      -webkit-transform: translate(0px, 0px);
              transform: translate(0px, 0px);
    }
    to {
      -webkit-transform: translate(-1000px, -3000px);
              transform: translate(-1000px, -3000px);
    }
  }
  .animations .imgPtive {
    -webkit-transform: perspective(100rem) rotateY(0deg) scale(1);
            transform: perspective(100rem) rotateY(0deg) scale(1);
    -webkit-animation: imgPtiveBack 0.5s;
            animation: imgPtiveBack 0.5s;
  }
  .animations .imgPtive:hover {
    -webkit-transform: perspective(100rem) rotateY(20deg) scale(1.1);
            transform: perspective(100rem) rotateY(20deg) scale(1.1);
    -webkit-animation: imgPtiveForw 0.5s;
            animation: imgPtiveForw 0.5s;
  }
  .animations .textPtive {
    -webkit-transform: perspective(100rem) rotateY(0deg) scale(1);
            transform: perspective(100rem) rotateY(0deg) scale(1);
    -webkit-animation: textPtiveBack 0.5s;
            animation: textPtiveBack 0.5s;
  }
  .animations .textPtive:hover {
    -webkit-transform: perspective(100rem) rotateY(-20deg) scale(1.2);
            transform: perspective(100rem) rotateY(-20deg) scale(1.2);
    -webkit-animation: textPtiveForw 0.5s;
            animation: textPtiveForw 0.5s;
  }
  @-webkit-keyframes imgPtiveForw {
    from {
      -webkit-transform: perspective(100rem) rotateY(0deg) scale(1);
              transform: perspective(100rem) rotateY(0deg) scale(1);
    }
    to {
      -webkit-transform: perspective(100rem) rotateY(20deg) scale(1.1);
              transform: perspective(100rem) rotateY(20deg) scale(1.1);
    }
  }
  @keyframes imgPtiveForw {
    from {
      -webkit-transform: perspective(100rem) rotateY(0deg) scale(1);
              transform: perspective(100rem) rotateY(0deg) scale(1);
    }
    to {
      -webkit-transform: perspective(100rem) rotateY(20deg) scale(1.1);
              transform: perspective(100rem) rotateY(20deg) scale(1.1);
    }
  }
  @-webkit-keyframes imgPtiveBack {
    from {
      -webkit-transform: perspective(100rem) rotateY(20deg) scale(1.1);
              transform: perspective(100rem) rotateY(20deg) scale(1.1);
    }
    to {
      -webkit-transform: perspective(100rem) rotateY(0deg) scale(1);
              transform: perspective(100rem) rotateY(0deg) scale(1);
    }
  }
  @keyframes imgPtiveBack {
    from {
      -webkit-transform: perspective(100rem) rotateY(20deg) scale(1.1);
              transform: perspective(100rem) rotateY(20deg) scale(1.1);
    }
    to {
      -webkit-transform: perspective(100rem) rotateY(0deg) scale(1);
              transform: perspective(100rem) rotateY(0deg) scale(1);
    }
  }
  @-webkit-keyframes textPtiveForw {
    from {
      -webkit-transform: perspective(100rem) rotateY(0deg) scale(1);
              transform: perspective(100rem) rotateY(0deg) scale(1);
    }
    to {
      -webkit-transform: perspective(100rem) rotateY(-20deg) scale(1.2);
              transform: perspective(100rem) rotateY(-20deg) scale(1.2);
    }
  }
  @keyframes textPtiveForw {
    from {
      -webkit-transform: perspective(100rem) rotateY(0deg) scale(1);
              transform: perspective(100rem) rotateY(0deg) scale(1);
    }
    to {
      -webkit-transform: perspective(100rem) rotateY(-20deg) scale(1.2);
              transform: perspective(100rem) rotateY(-20deg) scale(1.2);
    }
  }
  @-webkit-keyframes textPtiveBack {
    from {
      -webkit-transform: perspective(100rem) rotateY(-20deg) scale(1.2);
              transform: perspective(100rem) rotateY(-20deg) scale(1.2);
    }
    to {
      -webkit-transform: perspective(100rem) rotateY(0deg) scale(1);
              transform: perspective(100rem) rotateY(0deg) scale(1);
    }
  }
  @keyframes textPtiveBack {
    from {
      -webkit-transform: perspective(100rem) rotateY(-20deg) scale(1.2);
              transform: perspective(100rem) rotateY(-20deg) scale(1.2);
    }
    to {
      -webkit-transform: perspective(100rem) rotateY(0deg) scale(1);
              transform: perspective(100rem) rotateY(0deg) scale(1);
    }
  }
  .searchSlideIn {
    -webkit-animation: slideIn 0.8s;
            animation: slideIn 0.8s;
  }
  .searchReveal {
    -webkit-animation: revealSearch 1.5s;
            animation: revealSearch 1.5s;
  }
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: translateX(20rem);
              transform: translateX(20rem);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes slideIn {
    0% {
      -webkit-transform: translateX(20rem);
              transform: translateX(20rem);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @-webkit-keyframes revealSearch {
    0% {
      opacity: 0;
      width: 0%;
    }
    30% {
      opacity: 0;
      width: 0%;
    }
    100% {
      opacity: 1;
      width: 100%;
    }
  }
  @keyframes revealSearch {
    0% {
      opacity: 0;
      width: 0%;
    }
    30% {
      opacity: 0;
      width: 0%;
    }
    100% {
      opacity: 1;
      width: 100%;
    }
  }
  .animateCard {
    background-color: white;
    position: fixed;
  }
}
/*# sourceMappingURL=globals.css.map */